.container {
  width: 25%;
}
.user-input {
  width: 97.5%;
  height: 50px;
  text-align-last: end;
  font-size: 36px;
}

.button {
  height: 50px;
  width: 80px;
}

.button-container {
  display: flex;
}
.numbers button {
  margin: 2px 5px;
  background-color: lightgray;
  font-size: 24px;
  color: #000;
}

.symbols {
  display: flex;
  flex-direction: column;
}

.symbols button {
  margin: 2px 5px;
  background-color: orange;
  border: orange;
  font-size: 24px;
  color: #fff;
}
button.equal {
  margin: 2px 5px;
  background-color: orange;
  border: orange;
  font-size: 24px;
  color: #fff;
}

.symbols button:nth-last-child(1) {
  border-bottom-right-radius: 10px;
}
.numbers button:nth-last-child(3) {
  border-bottom-left-radius: 10px;
}
